!!! 5
%html
%head
  %title Web Corporativa WebLinks Technologies
  = stylesheet_link_tag    "application", :media => "all"
  = javascript_include_tag "application"
  = csrf_meta_tags
%body
#mainmenu.navbar.navbar-fixed-top
  .navbar-inner
    .container
      %ul.nav
        %li#menu1.dropdown.active
          %a.dropdwon-toggle{:data => {:toggle => "dropdown"}, :href => "#menu1"}
            Menu1
            %b.caret
          %ul.dropdown-menu#menu1
            %li
              = link_to "Prueba", "#"
        %li
          = link_to "Menu2", "#"
        %li
          = link_to "Events", "#"
      %ul.nav.pull-right
        %li.dropdown#menu3
          %a.dropdown-toggle{:data => {:toggle => "dropdown"}, :href => "#menu3"}
            Login
            %b.caret
          %ul.dropdown-menu#login
#sub
  .container
    .row
      .span3#logosmall
        %h4 Prueba
#subhome
  .container
    .row
      .span2
        %strong Contacto
        %br
        = image_tag "phone.png"
      .span2
        %strong Aplicaciones
        %br
        = image_tag "engineer.png"
      .span2
        %strong Solicitud
        %br
        = image_tag "id_card.png"
      .span2
        %strong Atencion Cliente
        %br
        = image_tag "under_construction.png"
      .span2
        %strong Configuraciones
        %br
        = image_tag "settings.png"
      .span2
        %strong Issues
        %br
        = image_tag "warning_sign.png"
#content.home
  .container
    .row
      .span9
        .span6.well
          %h3 Una prueba mas
        .span2.well
          %h3 Otra prueba mas
      .span3
        .well.sidenav
          .rightcol
            %h3 Hosting Web
            = image_tag "computer.png"
        .well
          .rightcol
            %h3 Email
            = image_tag "email.png"
        .well
          .rightcol
            %h3 Comercio Electronico
            = image_tag "shopping_cart.png"
