!!! 5
%html
%head
  %title Web Corporativa WebLinks Technologies
  = stylesheet_link_tag    "application", :media => "all"
  = javascript_include_tag "application"
  = csrf_meta_tags
%body
#mainmenu.navbar.navbar-fixed-top
  .navbar-inner
    .container
      %ul.nav
        %li#menu1.dropdown.active
          %a.dropdwon-toggle{:data => {:toggle => "dropdown"}, :href => "#menu1"}
            Menu1
            %b.caret
          %ul.dropdown-menu#menu1
            %li
              = link_to "Prueba", "#"
        %li
          = link_to "Menu2", "#"
        %li
          = link_to "Events", "#"
      %ul.nav.pull-right
        %li.dropdown#menu3
          %a.dropdown-toggle{:data => {:toggle => "dropdown"}, :href => "#menu3"}
            Login
            %b.caret
          %ul.dropdown-menu#login
#sub
  .container
    .row
      .span3#logosmall
        %h4 Prueba
#subhome
  .container
    .row
      .span3
        %strong Prueba 1
      .span3
        %strong Prueba 2
      .span3
        %strong Prueba 3
      .span3
        %strong Prueba 4
#content.home
  .container
    .row
      .span9
        .span6
          %h3 Una prueba mas
        .span3
          %h3 Otra prueba mas
      .span3
        .well.sidenav
          .rightcol
            %h3 Panel 1
        .well
          .rightcol
            %h3 Panel 2
        .well
          .rightcol
            %h3 Panel 3
